* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body {

    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    margin-top: 50px;
}

.caixa-texto{
    width: 600px;
}

.caixa-img{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: -90px;
    
}


h2 {
    color: #333;
    font-size: 60px;
    font-weight: 500;

}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
    margin-bottom: 40px;

}



a {
    background: #017143;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    
}

a:hover{
    background: #333;
    color: #017143;
    transform: 0.6s;
}

.img-logo {
    width: 80px;
}

.starbucks {
    width: 320px;

}

.botao-menu {
    width: 60px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
   
}

.botao-menu:hover {
    transform: translateY(-25px);
}

.circulo{
    position: absolute;
    background: #017143;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0px;
    clip-path: circle(575px at right 600px);
    z-index: -1;
}